body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;  /* Remove padding to prevent affecting centering */
    margin: 0;   /* Remove margin for the body */
    height: 100vh;  /* Ensure body takes full viewport height */
    
    display: flex;           /* Enable flexbox */
    justify-content: center;  /* Horizontally center */
    align-items: center;      /* Vertically center */
    
    background: url('images/zodiac2.gif') no-repeat center center fixed;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    background-color: white;  /* White */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;  /* Ensure container is responsive */
    box-sizing: border-box;  /* Ensures padding doesn't affect the width */
}

.button-51 {
    background-color: transparent;
    border: 1px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-51:hover,
  .button-51:active {
    outline: 0;
  }
  
  .button-51:hover {
    background-color: transparent;
    cursor: pointer;
  }
  
  .button-51:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
  }
  
  .button-51:hover:before {
    background-color: #6DCFF6;
  }
  
  @media (min-width: 768px) {
    .button-51 {
      padding: 16px 32px;
    }
  }
